# ignore everything
*

# except:
!**package*.json

!api/.env
!api/app.ts
!api/constants.ts
!api/ssl.crt
!api/ssl.key
!api/tsconfig.json

!client/babel.config.js
!client/docs
!client/docusaurus.config.ts
!client/sidebars.js
!client/src
!client/static
