name: Build API/client files

on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]
    paths-ignore:
      - ".github/workflows/**"
  push:
    branches: ["main"]
    paths-ignore:
      - ".github/workflows/**"

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
          node-version: "22.14.0"

      - name: Clean install dependencies and build
        env:
          TEST_WEB_HOST: "https://localhost"
        run: |
          npm ci
          npm run build

      - name: Upload build as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: build-files
          path: |
            api/build
            api/package-lock.json
            api/package.json
            client/build
            client/package-lock.json
            client/package.json
            package-lock.json
            package.json
